p
  | Rating:
  .rating-value
    = rating(votable)

  - if user_signed_in? && votable.author_id != current_user&.id
    = link_to '+',
              polymorphic_path([:vote_up, votable]),
              method: :post,
              data: { type: :json },
              remote: true,
              class: 'vote-up'
    |  
    = link_to '–',
              polymorphic_path([:vote_down, votable]),
              method: :post,
              data: { type: :json },
              remote: true,
              class: 'vote-down'
