$('.answer-errors-new').html('<%= render 'shared/errors', resource: answer %>')

<% if answer.persisted? %>
  $('.flash-message').html('<div class="my-3"><p class="alert alert-success", role="alert"> <%= t('.success') %></p></div>')
  $('.answers').append('<%= j render answer %>')
  $('.new-answer #answer_body').val('')

  $('form.new-answer #answer_files').prop('disabled', false)
  $('form.new-answer #answer_files').val('')
  
  <% @answer = question.answers.build %>
  <% @answer.links.build %>
  $('form.new-answer').replaceWith('<%= j render 'answers/form' %>')
<% end %>
