.hidden { display: none; }

@keyframes gist_link_inserted {
  from { z-index: 1; }
  to { z-index: 1; }
}

.gist-link {
  animation-duration: 0.001s;
  animation-name: gist_link_inserted;
}

.parent {
  display: flex;
}

.child {
  width: 110px;
  display: block;
}

.child-max {
  flex: 1;
  display: block;
}

.list-unstyled{
  list-style-type: none;
}
